/*========= Main Formatting =========*/
:root {
  --guangyao: #c8b654;
  --xichen: #3cb4e3;
  --jiangcheng: #a969cb;
}

body {
  padding: 1em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
  font-size: .875em;
  line-height: 1.5;
  background: #333;
  color: #eee;
  border-color: #222;
  outline: #111;
  box-shadow: none;
  max-width: 850px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.3em;
}

a {
  color: #ddd;
  text-underline-offset: 4px;
}

a:visited{
  color: #888;
}

.center {
  text-align: center;
}

/*========= Nav Formatting =========*/

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

nav ul li {
  width: 30%;
  text-align: center;
}

.top-nav {
  padding-bottom: 1.5em;
}

.bottom-nav {
  padding-top: 1.5em;
}

.chapter-list ol {
  list-style: none;
  text-align: center;
  padding-left: 0;
  line-height: 2.4em;
}

/*========= Home Page Formatting =========*/

.summary, .translations, .table-of-contents, .notes, .links {
  padding-top: 1em;
  padding-bottom: 1em;
}


/*========= Chapter Pages Formatting =========*/

.fic-notes {
  border-top: thin solid #666;
  border-bottom: thin solid #666;
  width: 75%;
  margin: 0 auto;
}

.fic-notes h2 {
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: underline;
}

.fic-text {
  padding-top: 1em;
  padding-bottom: 1em;
}

.fic-text img {
  display: block;
  width: 95%;
  margin: 0 auto;
  max-width: 500px;
}

ul li span, p.header-android span {
  font-family: 'Noto Sans Symbols 2';
  text-decoration: none;
}


/*
.kaomoji {
  font-family: 'Noto Serif JP', serif;
}
*/

/*========= Wider Screen Formatting =========*/

@media only screen and (min-width: 700px) {
  body {
    padding: 2em;
  }

  .chapter-list{
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
            list-style: none;
  }

  .chapter-list ol {
    margin-top: 0;
    line-height: 1.7;
  }

  .chapter-list li{
    padding: 5px 10px;
  }
}