/*========= Main Formatting =========*/
:root {
  --android-text-color-1: #c8b654;
}


/*===== iOS Text Message Formatting =====*/

.phone {
  max-width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: auto;
}

.header {
  min-width: 300px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #b2b2b2;
  color: #000000;
  font-weight: bold;
  padding-bottom: .5em;
  padding-top: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: -2em;
  text-align: center;
  text-transform: capitalize;
  display: table;
}

.messagebody {
  background-color: #FFFFFF;
  display: table;
  padding-left: .5em;
  padding-right: .5em;
}

.text {
  float: left;
  color: #000000;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #e5e5ea;
  max-width: 75%;
  clear: both;
  position: relative;
}

.text::after {
  content: "";
  position: absolute;
  left: -.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-right: 0.5em solid #e5e5ea;
  border-bottom-right-radius: 1em 0.5em;
}

.breply {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #1289fe;
  max-width: 75%;
  clear: both;
  position: relative;
}

.breply::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #1289fe;
  border-bottom-left-radius: 1em 0.5em;
}

.greply {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #35cb24;
  max-width: 75%;
  clear: both;
  position: relative;
}

.greply::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #35cb24;
  border-bottom-left-radius: 1em 0.5em;
}

.time {
  min-width: 295px;
  color: #7B7C80;
  font-size: .75em;
  padding-bottom: .5em;
  padding-top: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: -.5em;
  text-align: center;
  display: table;
  }

/*== Styles for messages with no header ==*/

.phone-no-header {
  max-width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: auto;
}

/*Add width:300px; because the text messages don't have a header to spread the screen out wide, if that makes sense. */
.messagebody-no-header {
  width: 300px;
  background-color: #FFFFFF;
  display: table;
  padding-left: .5em;
  padding-right: .5em;
}

/* Example of how to use:

<div class="phone">
  <p class="messagebody">
    <span class="header">Mom</span><br /><br />
    <span class="time"><b>Yesterday</b> 10:15 PM</span><br />
    <span class="text">Can you call me as soon as you get this message?</span><br />
    <span class="time"><b>Today</b> 9:05 AM</span><br />
    <span class="text">Hello?</span><br />
    <span class="text">Are you going to answer me?</span><br />
    <span class="breply">iOS reply</span><br><br>
    <span class="text">Other person's reply</span><br><br>
    <span class="greply">SMS reply</span><br><br>
  </p>
</div>

*/



/*===== Android Text Message Formatting =====*/

/* Container Styles */

.phone-android {
  width: 300px;
  font-family: "Roboto","Noto",Arial,sans-serif;
  margin: 20px auto;
}

.header-android {
  background-color: var(--android-text-color-1);
  color: #fff;
  width: 300px;
  font-size: large;
  padding: .5em 0 .5em .5em;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  line-height: 30px;
  display: table;
  box-shadow: 0 0 10px #aaa;
  clip-path: inset(0px -0px -10px 0px);
}

.time-android {
  min-width: 295px;
  color: #7B7C80;
  font-size: .7em;
  padding-bottom: .5em;
  margin-top: -.75em;
  text-align: center;
  display: table;
  }

.messageBody-android {
  list-style: none;
  background-color: #efedeb;
  margin: -4em 0 0 0;
  padding: 3em 0 .5em 0;
}

.messageBody-android li {
  padding: 0 .5em;
  overflow: hidden;
  display: flex;
}

.icon-android {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: var(--android-text-color-1);
  text-align: center;
  color: #fff;
  font-size: x-large;
}

/* Reply (Outgoing) Styles */

.replyWrapper-android {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.reply-android {
  max-width: 60%;
  background: #fefefe;
  color: #000;
  padding: .7em .9em;
  border-radius: 1.5em;
}

.firstReply-android {
  border-radius: 1.5em 1.5em .2em 1.5em;
}

.middleReply-android {
  border-radius: 1.5em .2em .2em 1.5em;
}

.lastReply-android {
  border-radius: 1.5em .2em 1.5em 1.5em;
}

.reply-android p {
  margin: auto;
}

/* Text (Incoming) Styles */

.textWrapper-android {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.textIconWrapper-android {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50px;
}

.text-android {
  max-width: 60%;
  background: var(--android-text-color-1);
  color: #fff;
  padding: .7em .9em;
  border-radius: 1.5em;
}

.firstText-android {
  border-radius: 1.5em 1.5em 1.5em .2em;
}

.middleText-android {
  border-radius: .2em 1.5em 1.5em .2em;
}

.lastText-android {
  border-radius: .2em 1.5em 1.5em 1.5em;
}

.text-android p {
  margin: auto;
}

/* Special Modifications */

.messageBody-android li.singleWrapper-android {
  padding-top: .5em;
  padding-bottom: .5em;
}

.messageBody-android li.firstWrapper-android {
  padding-top: .5em;
  padding-bottom: .2em;
}

.messageBody-android li.middleWrapper-android {
  padding-bottom: .2em;
}

.messageBody-android li.lastWrapper-android {
  padding-bottom: .5em;
}

.timestamp-android {
  margin-top: auto;
  padding-left: .3em;
  padding-right: .3em;
  font-size: x-small;
  opacity: 0.5;
}

.hidden {
  visibility: hidden;
}


/*Example of how to use:

<div class="phone-android">

  <p class="header-android">Contact Name</p>

  <span class="time-android"><b>Today</b> 8:35 AM</span><br />

  <ol class="messageBody-android">

    <li class="replyWrapper-android singleWrapper-android">
      <span class="timestamp-android">8:15 pm</span>
      <span class="reply-android">
        <p>Outgoing message</p>
      </span>
    </li>

    <li class="textWrapper-android firstWrapper-android">
      <span class="textIconWrapper-android hidden">
        <div class="icon-android">F</div>
      </span>
      <span class="text-android firstText-android">
        <p>Incoming message</p>
      </span>
    </li>

    <li class="textWrapper-android middleWrapper-android">
      <span class="textIconWrapper-android hidden">
        <div class="icon-android">F</div>
      </span>
      <span class="text-android middleText-android">
        <p>This is another incoming message</p>
      </span>
    </li>

    <li class="textWrapper-android lastWrapper-android">
      <span class="textIconWrapper-android">
        <div class="icon-android">C</div>
      </span>
      <span class="text-android lastText-android">
        <p>last incoming one test some small words</p>
      </span>
    </li>

    <li class="replyWrapper-android firstWrapper-android">
      <span class="reply-android firstReply-android">
        <p>Outgoing message</p>
      </span>
    </li>

    <li class="replyWrapper-android middleWrapper-android">
      <span class="reply-android middleReply-android">
        <p>Another one</p>
      </span>
    </li>

    <li class="replyWrapper-android lastWrapper-android">
      <span class="reply-android lastReply-android">
        <p>So many test messages what to even do</p>
      </span>
    </li>

    <li class="textWrapper-android singleWrapper-android">
      <span class="textIconWrapper-android">
        <div class="icon-android">C</div>
      </span>
      <span class="text-android ">
        <p>Incoming message</p>
      </span>
      <span class="timestamp-android">8:15 pm</span>
    </li>
  </ol>
</div>

*/


